<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Art Is</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-app="ArtPotato">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!--SCRIPTS-->
<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/1.2.0/angularfire.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.0/p5.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script type="text/javascript" src="environment.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<div ng-if="Display.getName" class="full-screen">
    <h1>What should I call you?</h1>
    <h5 ng-if="Person.name">Ok, {{Person.name}}.</h5>
    <form ng-submit="Display.getName = false; Person.$save()">
        <input type="text" ng-model="Person.name">
        <input ng-if="Person.name" type="submit" value="I'll remember."/>
    </form>
</div>

<div ng-if="Display.getArt" class="full-screen">
    <h1>What does art mean in your life, {{Person.name}}?</h1>
    <form ng-submit="Display.getArt = false; saveArt()">
        <input type="text" ng-model="Art.text" style="width: 400px;">
        <br>
        <input type="submit" value="That is what art means to me."/>
    </form>
</div>

<div ng-if="Display.getBoth" class="full-screen">
    <h1>This is about you. And art.</h1>
    <form ng-submit="Display.getBoth = false; Person.$save(); saveArt();">
        <p>What should I call you?</p>
        <input type="text" ng-model="Person.name">
        <br>
        <p>What is does art mean for you and your life?</p>
        <input type="text" ng-model="Art.text" style="width: 400px;">
        <br>
        <input type="submit" value="This."/>
    </form>
</div>

<div id="artsy" ng-if="getMode() == 'web'">
    <h1>
        What does <span class="clicky" ng-click="Display.getArt = true;">art mean</span> in your life, <span
            class="clicky"
            ng-click="Display.getName = true;">{{Person.name}}</span>?<br>
    </h1>
    <h4 id="online">Online: <span ng-repeat="user in Online" ng-click="setCurrentText(user.$id)"><span class="username">{{user.name}}</span>, </span></h4>
</div>

</body>
</html>
